@import "tailwindcss";

.ai-response {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  font-family: sans-serif;
  line-height: 1.6;
}

.ai-response h1 {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 12px;
}

.ai-response h2 {
  font-size: 20px;
  margin-top: 16px;
}